<div class="container">

  <div id="page-1" hidden>
    <h1>Quizzes</h1>
    <ul id="quizzes">
    </ul>
  </div>

  <div id="page-2" hidden>
    <h2>Quiz: <span id="quiz-name-p2"></span></h2>
    <div id="question"></div>
    <ul id="answers">
    </ul>
    <input id="btn-prev" type="button" name="prev" value="<-- prev" disabled hidden>
    <input id="btn-finish" type="button" name="finish" value="|- finish -|" disabled>
    <input id="btn-next" type="button" name="next" value="next -->" disabled>
  </div>

  <div id="page-3" hidden>
    <h2>Quiz: <span id="quiz-name-p3"></span></h2>
    <div id="summary"></div>
  </div>

</div>
